{% extends 'admin/admin_base.html.twig' %}

{% block title %}Nouvel évènement{% endblock %}

{% block sectionTitle %}Création d'un nouvel évènement{% endblock %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">

                        {{ include('admin/event/_form.html.twig') }}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


